html {
    color:rgb(0, 0, 0);
    /* background-color: aquamarine; */
    background-image: radial-gradient(#739559, #6f8f56);
    /* background-image: radial-gradient(#577442, #6f8f56); */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}

#overlay { /* START BUTTON OVERLAY */
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 100; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    font-size: 150px;
    color: white;
    text-align: center;
    vertical-align: middle;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;

}

.container {
    margin: 0px;
    padding: 0px;
    border: 0px;
    /* height: 800px; */
    gap: 0px;
    /* width: 100vw; */
}

.battlestart {
    display: block;
    text-align: center;
    font-size: 50pt;
    margin: 0px;
    margin-bottom: 25px;
    border: 0px;
    border-radius: 15px;
    padding: 20px;
    gap: 0px;
    background-color: #e9ffd9;
    cursor: pointer;

}

.stage {
    /* border: black solid 2px; */
    display: flex;
    flex-flow: row;
    /* flex: 1, 0, 1; */
    justify-content: space-around;
    /* height: 100vh; */
    gap: 0px;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    /* align-items: stretch; */

}

#stage {
    display: none; /* STARTS HIDDEN */
}

.ref {
    /* border: rgb(255, 255, 255) solid 2px; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 400px;
    background-color: rgba(240, 248, 255, 0);
    /* background-image: url("");  */
    background-position: -200px;
    background-size: 200%; */
    transition: width 4s;
    transition: opacity 2s;
    background-repeat: no-repeat;

}

#reff {


    transition: width 4s;
    
}

.ref > * {
    border: rgb(255, 255, 255) solid 2px;
    width: 50%;
    background-image: url("");
    transition: width 2s;
    font-size: 52pt;
    color: rgba(255, 255, 255, 0.72);
}

.btnz > *{
    cursor: pointer;

    /* flex-basis: 0; */


}
.comp > *{
    /* background-color: rgb(17, 43, 239); */
}

#compcontrols {

}

.circles > * { /* buttons style */
    font-family: Arial, Helvetica, sans-serif;
    border: rgb(255, 255, 255) solid 2px;
    border-radius: 50%;
    /* background-color: rgb(100, 133, 183); */
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    padding: 20px;
    /* cursor: pointer; */
    flex-basis: auto;
    align-self: flex-start;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.853);
    font-weight: bold;
    font-size: 20pt;
    overflow: hidden;
    transition: padding .5s;

    }
    
#btnr {
    display: block;
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/5f5ebdfe1a1834b803586841/Dwayne--The-Rock--Johnson-Project-Rock-launch-with-Under-Armour-and-Spotify/960x0.jpg");
    background-size: 170%;
    background-position-x: -40px;
    animation: wiggle 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 277px 3px #16ffd01c; 

   
}
#btnp {
    display: block;
    background-image: url("");
    background-size: 130%;
    animation: wiggle 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 277px 3px #16ffd01c; 
    /* box-shadow: 5px 5px 2px rgba(35, 36, 36, 0.121); */
    }
#btns {
    display: block;
    background-image: url("");
    background-size: 200%;
    /* background-position: -50px; */
    animation: wiggle 6s;
    animation-iteration-count: infinite;   
    animation-timing-function: ease-in-out;
    animation-direction: alternate;  
    box-shadow: inset 0px 0px 277px 3px #16ffd01c; 
    /* box-shadow: 5px 5px 2px rgba(35, 36, 36, 0.121); */
}

#compr {
    background-image: url("");
    background-size: 200%;
    background-position-x: -100px;
    background-position-y: 5px;
    animation: wiggle 5.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 277px 3px #81818182;      
    opacity: 70%;   
}
#compp {
    background-image: url("https://www.mybanktracker.com/news/wp-content/uploads/2016/02/cash.jpg");
    background-size: 190%;
    background-position-x: -100px;
    background-position-y: -30px;
    animation: wiggle 4.5s;
    animation-iteration-count: infinite;   
    animation-timing-function: ease-in-out;
    animation-direction: alternate;   
    box-shadow: inset 0px 0px 277px 3px #81818182;      
    opacity: 70%;   
}

#comps {
    background-image: url("https://1.bp.blogspot.com/-CrsniLoWksI/VXj9tUcSHTI/AAAAAAAAOAA/ztuounMx8iY/s1600/Edward%2BScissorhands%2B1.jpg");
    background-size: 180%;
    background-position-x: -50px;
    background-position-y: 5px;
    animation: wiggle 3.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    box-shadow: inset 0px 0px 277px 3px #81818182;   
    opacity: 70%;   
        
}

@keyframes wiggle {
0% { transform: translate(0px, 0px) rotate(0deg); }

25% { transform: translate(-1px, 2px) rotate(-2deg); }

50% { transform: translate(2px, 1px) rotate(2deg); }

25% { transform: translate(1px, 2px) rotate(-2deg); }


100% { transform: translate(0px, 0px) rotate(0deg); }
}

.fighter {
    display: none;
    height: 25px;
    color: rgb(255, 255, 255);
    font-size: 20pt;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

}

.fighter > * {
    /* border: black solid 2px; */
    width: 33%;
    text-align: center;

}

.spacer {
    width: 200px;

}

.arenau {
    background-repeat: no-repeat;
    background-position: 700px;
    transition: background-position 1s;
    transition: width 1s;
    transition: background-size 4s;
    background-size: 500%;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.742);
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 45px;
    padding-top: 20px;
    overflow: hidden;


}
.arenac {
    background-repeat: no-repeat;
    background-position: -700px;
    transition: background-position 1s;
    transition: width 1s;
    transition: background-size 4s;
    background-size: 500%;
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.742);
    text-align: end;
    font-size: 45px;
    padding-top: 20px;
    overflow: hidden;
    writing-mode: vertical-lr;
    text-orientation: upright;

}

#controls {
    /* padding-bottom: 10px; */
}

#compcontrols {
    /* padding-bottom: 10px; */
}


.announce {
    /* border: black solid 2px; */
    border-radius: 15px;
    background-color: #e9ffd9;
    /* height: 100px; */
    display: flex;
    justify-content: space-around;
}

.announce > * {
    /* border: rgb(84, 81, 81) solid 2px; */
    /* width: 200px; */
    /* background-color: azure; */
    text-align: center;
    align-content: center;
    padding: 15px;
    min-height: 70px;
    font-size: 52pt;
}

.scorebox {
    background-color: #dbf1cc;
    border-radius: 15px;
    width: 100px;
    /* box-shadow: inset 5px 5px 5px 5px #9191911c;  */

}

.extra {
    background-color: #e9ffd9;
    width: 50px;
}





